build.sh
build64.sh

# Binaries for programs and plugins
clipMail
*.exe
*.exe~
*.dll
*.so
*.dylib
go.mod
go.sum

# Test binary, built with 
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
